#home {
  grid-column: full-start/ full-end;
  background-color: $bg;
  margin-top: 0rem;
  padding: 6.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.hero-wrapper {
  position: absolute;
  width: 100%;
  height: 40%;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  overflow: hidden;
  @media only screen and (min-width: 700px) {
    height: 50%;
  }
  @media only screen and (min-width: 1000px) {
    margin-top: 14rem;
    width: 70%;
    height: 30vw;
  }
  @media only screen and (min-width: 1600px) {
    width: 70%;
    height: 30vw;
  }
  video {
    position: absolute;
    object-fit: contain;
    transform: scale(0.4);
    transition: all 1.2s linear;
    z-index: -1;
  }
  @media only screen and (min-width: 700px) {
    video {
      transform: scale(0.7);
    }
  }
  @media only screen and (min-width: 1000px) {
    video {
      transform: scale(1);
    }
  }
  @media only screen and (min-width: 1200px) {
    video {
      transform: scale(1);
    }
  }
}

.video1 {
  opacity: 1;
}
.video2 {
  opacity: 0;
}
.video3 {
  opacity: 0;
}

/** OVERLAY **/
.text {
  text-align: center;
  font-size: clamp(1.4rem, 3vw, 4rem);
  color: $white;
  z-index: 1;
  font-family: "voga";
  margin: 0 3rem;
  &__title {
    letter-spacing: clamp(0.32rem, 1vw, 1rem);
  }
  &__paragraph {
    letter-spacing: clamp(0.2rem, 0.8vw, 0.3rem);
    text-transform: capitalize;
    padding-top: 1%;
    font-family: "josefin-l";
    font-size: clamp(1.3rem, 2.8vw, 3.4rem);
    color: $white;
    @media only screen and (min-width: 700px) {
      font-family: "josefin-r";
    }
  }
}
.span-title {
  font-family: "leroy";
  font-size: clamp(3.6rem, 7.5vw, 9rem);
  color: $red;
}
